main {
	margin-top: 3rem;
}

.logged-in-div, .logged-out-div {
	margin-bottom: 0;
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	margin-right: .8rem;
}

.signup-link {
	font-size: .68rem;
	padding-right: .6rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .15s ease-out;
	padding-bottom: 4px;
}

.signup-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.compositions-link {
	font-size: .68rem;
	padding-right: .6rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .15s ease-out;
}

.compositions-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.login-link {
	font-size: .68rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .15s ease-out;
	padding-bottom: 4px;
	padding-right: .6rem;
}

.login-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.demo-link {
	font-size: .68rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .2s ease-out;
	padding-bottom: 4px;
	padding-right: .6rem;
}

.demo-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.instructions-link {
	padding-bottom: 4px; 
	font-size: .68rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .2s ease-out;
}

.instructions-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.logout-link {
	font-size: .68rem;
	/* border-bottom: 10px solid rgba(42,71,71,.45); */
	transition: .15s ease-out;
	padding-right: .6rem;
}

.logout-link:hover {
	/* padding-bottom: 6px; */
	/* border-bottom: 10px solid rgba(42,71,71,.1); */
	transition: .15s ease-in;
}

.status {
	color: rgba(0,0,0,.8);
	position: absolute;
	right: 0;
	top: -.5rem;
	margin-right: 1.8rem;
	font-size: .68rem;
}

.sheetMusicMidi {
	line-height: 10vw;
}

.abc-buttons {
	display: flex;
	padding: 0 .7rem;
	justify-content: center;
}

@media only screen  and (min-width: 500px) {
	main {
		margin-top: 5rem;
	}
	.logged-out-div, .logged-in-div {
		line-height: 2.15rem;
		margin-right: 1.3rem;
	}

	.signup-link {
		font-size: 1rem;
		padding-right: 1rem;
	}

	.compositions-link {
		font-size: 1rem;
		padding-right: 1rem;
	}

	.login-link {
		font-size: 1rem;
		padding-right: 1rem;
	}

	.demo-link {
		font-size: 1rem;
		padding-right: 1rem;
	}

	.instructions-link {
		font-size: 1rem;
	}

	.logout-link {
		font-size: 1rem;
		padding-right: 1rem;
	}

	.status {
		font-size: 1rem;
		margin-right: 3rem;
		margin-top: .65rem;
	}
	.abc-buttons {
		display: flex;
		padding: 0 1rem;
		justify-content: start;
	}
}

@media only screen  and (min-width: 650px) {
	main {
		margin-top: 7rem;
	}
	.logged-in-div, .logged-out-div {
		margin-top: 1.6rem; 
		margin-right: 2rem;
	}

	.signup-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.compositions-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.login-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.demo-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.instructions-link {
		font-size: 1.2rem;
	}

	.logout-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.status {
		font-size: 1.2rem;
		margin-right: 3.8rem;
		margin-top: 1rem;
	}
}

@media only screen  and (min-width: 768px) {
	.logged-in-div, .logged-out-div {
		margin-top: 1.75rem;
	}
	.signup-link {
		font-size: 1.2rem;
	}
	.compositions-link {
		font-size: 1.2rem;
	}
	.login-link {
		font-size: 1.2rem;
	}
	.demo-link {
		font-size: 1.2rem;
	}
	.instructions-link {
		font-size: 1.2rem;
	}
	.logout-link {
		font-size: 1.2rem;
	}
	.status {
		font-size: 1.2rem;
	}
	.abc-buttons {
		padding: 0 1.5rem;
	}
}

@media only screen  and (min-width: 900px) {
	.signup-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.compositions-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.login-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.demo-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.instructions-link {
		font-size: 1.2rem;
	}

	.logout-link {
		font-size: 1.2rem;
		padding-right: 1rem;
	}

	.status {
		font-size: 1.2rem;
		margin-right: 3.9rem;
	}
	.sheetMusicMidi {
		line-height: 3vw;
		font-size: 2.3vw;
	}
	.abc-buttons {
		padding: 0 2rem;
	}
}

@media only screen  and (min-width: 1050px) {
	.logged-in-div, .logged-out-div {
		margin-right: 2.7rem;
	}
}

@media only screen  and (min-width: 1150px) {
	.abc-buttons {
		padding: 0 2.5rem;
	}
}

@media only screen  and (min-width: 1224px) {
	.logged-in-div, .logged-out-div {
		margin-right: 3rem;
	}
	.abc-buttons {
		margin-bottom: 3rem; 
		padding: 0 3rem; 
	}
}



