.instruction-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 .4rem;
}

.note-img-div {
	padding: .5vw;
	position: relative;
}

.note-img {
	width: 7vw;
	height: 7vw;
}

.note-img-whole {
	width: 3.8vw;
	height: 3.8vw;
	margin-top: 3.6vw;
	margin-left: 1.2vw;
	margin-bottom: -.7vw;
}

.note-img.sixteenth {
	width: 9vw;
	height: 9vw;
	position: relative;
	bottom: 2vw;
}

.note-img-text.sixteenth-text {
	position: relative;
	bottom: 2vw;
	left: .6vw;
}

.note-img-text {
	font-size: 6vw;
	font-family: 'Quicksand', sans-serif;
	padding-left: 1.3vw;
}

.note-img-text.whole-text {
	margin-right: 1vw;
}

.divider {
	font-size: 7vw;
}

.divider.one {
	padding-right: 1vw;
}

.divider.two {
	padding-left: 1vw;
}

.dotted-note-text {
	position: absolute;
	right: -12vw;
	top: 3vw;
	font-size: 4.5vw;
}

.dotted-note-div {
	margin-right: 13vw;
}

.augmentation-dot {
	font-family: 'Cabin', sans-serif;
	font-size: 12vw;
	position: absolute;
	top: -5vw;
	right: 6vw;
}

.x {
	position: relative;
	right: 17vw;
	top: -1.1vw;
}

.x-img {
	margin-top: 1.5vw;
	width: 6.5vw;
	height: 6.5vw;
}
.etc {
	visibility: hidden;
}
.divider.one, .divider.two {
	visibility: hidden;
}
.dotted-note-text {
	margin-right: 17.5vw;
	margin-top: 6vw;
}
.augmentation-dot {
	font-size: 12vw;
	top: 1.5vw;
	right: 23.5vw;
}

@media only screen  and (min-width: 500px) {
	.note-img-whole {
		margin-top: 3.5vw;
	}
	.instruction-list {
		padding: 0 .6rem;
	}
}

@media only screen and (min-width: 768px) {
	.instruction-list {
		margin-top: -3.5rem;
	}
}

@media only screen  and (min-width: 1050px) {
	.instruction-list {
		margin-left: 3vw;
	}
	.note-img-div {
		padding: 1vw;
	}
	.note-img {
		width: 5vw;
		height: 5vw;
	}
	.note-img-whole {
		width: 2.8vw;
		height: 2.8vw;
		margin-top: 2.6vw;
		margin-right: -.1vw;
	}
	.six {
		margin-left: -1vw;
	}
	.note-img.sixteenth {
		width: 6.4vw;
		height: 6.4vw;
		margin-top: .7vw;
	}
	.note-img-text {
		margin-left: -.6vw;
	}
	.dotted-note-div {
		margin-top: .1vw;
		margin-left: -2.5vw;
	}
	.augmentation-dot {
		font-size: 12vw;
		top: -1.1vw;
		right: 19.5vw;
	}
	.dotted-note-text {
		margin-top: 4.3vw;
		margin-right: 18vw;
		font-size: 3.5vw;
	}
	.divider {
		font-size: 5vw;
	}
	.note-img-text.whole-text {
		position: relative;
		left: -.2rem;
	}
	.x-img {
		margin-bottom: -1vw;
	}
	.x {
		position: relative;
		right: 18.5vw;
		bottom: 1.5vw;
	}
}

@media only screen  and (min-width: 1224px) {
	.instruction-list {
		margin-top: -3rem;
		margin-bottom: -1.1rem;
	}
	.note-img-div {
		padding-right: 2.5vw;
		position: relative;
	}

	.note-img {
		width: 4vw;
		height: 4vw;
	}

	.note-img-whole {
		width: 4.3vw;
		height: 3vw;
		margin-top: 1vw;
		padding-right: 2vw;
		padding-bottom: .4vw;
	}

	.note-img-text.whole-text {
		left: -.7rem;
	}

	.wholeN {
		margin-right: -4vw;
		margin-top: -.1vw;
	}

	.note-img.sixteenth {
		width: 5vw;
		height: 5vw;
		position: relative;
		bottom: .9vw;
		margin-left: .8rem;
	}

	.note-img.note-img-dotted-half {
		margin-right: 1.2rem;
	}

	.six {
		margin-top: -.8vw;
	}

	.note-img-text.sixteenth-text {
		bottom: .9vw;
		left: -1vw;
		margin-right: -6vw;
	}

	.half {
		margin-left: -1vw;
	}

	.note-img-text {
		font-size: 3vw;
		position: absolute;
		right: -.5vw;
	}

	.dotted-note-div {
		margin-right: 13vw;
		margin-top: 0;
		margin-left: -1.3vw; 
	}

	.augmentation-dot {
		font-family: 'Cabin', sans-serif;
		font-size: 7vw;
		position: absolute;
		right: 10vw;
		margin-top: -1.15vw;
	}

	.divider {
		font-size: 3vw;
	}

	.divider.two {
		padding-left: 5.5vw;
	}

	.dotted-note-text {
		right: -19.5vw;
		top: -2.4vw;
	}

	.x {
		margin-top: 1.5vw;
		margin-left: 7vw;
	}

	.x-img {
		margin-top: .7vw;
		width: 3.5vw;
		height: 3.5vw;
		margin-right: .5vw;
	}

	.whole-text, .half-text, .quarter-text, .eighth-text, .sixteenth-text, .delete-text {
		font-size: 4vw;
		font-weight: 500;
	}
}






