.sheetMusicDiv {
	position: relative;
	padding: 0 .7rem;
}

.sheetMusic {
	background: rgba(255,255,255,.55);
	border-radius: 4px;
	margin-top: .4rem;
}

.save-link {
	font-size: 1.3rem;
	background: rgba(255,255,255,.5);
	width: fit-content;
}

@media only screen and (min-width: 500px) {
	.sheetMusicDiv { 
		padding: 0 1rem;
	}
	.save-link {
		font-size: 1.5rem;
	}
}

@media only screen  and (min-width: 768px) {
	.save-link {
		font-size: 2rem;
	}
	.sheetMusicDiv { 
		padding: 0 1.5rem;
	}
}

@media only screen  and (min-width: 900px) {
	.sheetMusicDiv { 
		padding: 0 2rem;
	}
}

@media only screen  and (min-width: 1050px) {
	.save-link {
			font-size: 2.5rem;
		}
}

@media only screen  and (min-width: 1150px) {
	.sheetMusicDiv { 
		padding: 0 2.5rem;
	}
}

@media only screen  and (min-width: 1224px) {
	.sheetMusicDiv {
		padding: 0 3rem;
	}
}