.signup-form-div {
	margin-top: 3rem;
}

.signup-form {
	display: flex;
	flex-flow: column;
	margin: 4.5vw;
	font-size: 1.5rem;
	width: 25vw;
	margin-top: 0vw;
}

.signup-input {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	width: 10rem;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 2px;
	padding: 1vw;
}

.signup-button {
	font-size: 1.5rem;
	cursor: pointer;
	width: 6rem;
}

.account-status {
	font-size: 1.4rem;
	width: 100vw;
}

.signup-error {
	width: 30vw;
	font-weight: 900;
	color: red;
}

@media only screen and (min-width: 500px) {
	.signup-form-div {
		margin-top: 4.5rem;
	}
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		display: flex;
		flex-flow: column;
		margin: 4.5vw;
		font-size: 1.4rem;
		width: 25vw;
		margin-top: 1rem;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
	}
	.account-status {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 650px) {
	.signup-form-div {
		margin-top: 6rem;
	}
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		margin: 4.5vw;
		font-size: 1.4rem;
		width: 25vw;
		margin-top: 1rem;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
		padding: .2rem;
	}
	.account-status {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 768px) {
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		margin: 4.5vw;
		font-size: 1.4rem;
		width: 25vw;
		margin-top: 1rem;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
		padding: .2rem;
	}
	.account-status {
		font-size: 1.4rem;
	}
}

@media only screen  and (min-width: 900px) {
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		font-size: 1.4rem;
		width: 25vw;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
		padding: .2rem;
	}
	.account-status {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 1050px) {
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		margin: 4.5vw;
		font-size: 1.4rem;
		width: 25vw;
		margin-top: 1rem;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
		padding: .2rem;
	}
	.account-status {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 1224px) {
	.signup-username, .signup-password {
		font-size: 1.5rem;
	}
	.signup-form {
		font-size: 1.4rem;
		width: 25vw;
	}

	.signup-input {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		width: 14rem;
		border: 1px solid rgba(0, 0, 0, .3);
		border-radius: 2px;
		padding: .5vw;
		margin-top: .2rem;
	}

	.signup-button {
		font-size: 1.4rem;
		cursor: pointer;
		width: 7rem;
		padding: .2rem;
	}
}






