.timesignature-button {
    max-width: max-content;
}

button.timesignatures {
    display: none;
    width: 114%;
}

.timesignatures:hover {
    background: white;
}

.timesignature-buttons-div {
    position: absolute;
    z-index: 5;
}