.range, .logged-in-div, .logged-out-div {
	margin: 4.5vw;
	font-size: 6vw;
}

.logged-in-div, .logged-out-div {
	margin-bottom: 7vw;
}

.description-title {
	font-size: 7vw;
	margin: 4.5vw;
	margin-bottom: -2.5vw;
}

.signup-link {
	font-size: 6.5vw;
	padding-right: 6vw;
	border-bottom: 10px solid rgba(42,71,71,.45);
	transition: .15s ease-out;
	padding-bottom: 4px;
}

.signup-link:hover {
	padding-bottom: 6px;
	border-bottom: 10px solid rgba(42,71,71,.1);
	transition: .15s ease-in;
}

.compositions-link {
	font-size: 6.5vw;
	padding-right: 6vw;
	border-bottom: 10px solid rgba(42,71,71,.45);
	transition: .15s ease-out;
}

.compositions-link:hover {
	padding-bottom: 6px;
	border-bottom: 10px solid rgba(42,71,71,.1);
	transition: .15s ease-in;
}

.login-link {
	font-size: 6.5vw;
	border-bottom: 10px solid rgba(42,71,71,.45);
	transition: .15s ease-out;
	padding-bottom: 4px;
	padding-right: 6vw;
}

.login-link:hover {
	padding-bottom: 6px;
	border-bottom: 10px solid rgba(42,71,71,.1);
	transition: .15s ease-in;
}

.demo-link {
	font-size: 6.5vw;
	border-bottom: 10px solid rgba(42,71,71,.45);
	transition: .2s ease-out;
	padding-bottom: 4px;
}

.demo-link:hover {
	padding-bottom: 6px;
	border-bottom: 10px solid rgba(42,71,71,.1);
	transition: .15s ease-in;
}

.logout-link {
	font-size: 6.5vw;
	border-bottom: 10px solid rgba(42,71,71,.45);
	transition: .15s ease-out;
}

.logout-link:hover {
	padding-bottom: 6px;
	border-bottom: 10px solid rgba(42,71,71,.1);
	transition: .15s ease-in;
}

.status {
	margin-top: -3vw;
	margin-bottom: 1vw;
	font-size: 6.5vw;
}

.range {
	font-size: 6.5vw;
}

.sheetMusicMidi {
	line-height: 10vw;
}

@media only screen  and (min-width: 500px) {
	.description-title {
		font-size: 6vw;
		margin: 4.5vw;
		margin-top: -2vw;
		margin-bottom: -3vw;
	}

	.signup-link {
		font-size: 5.5vw;
		padding-right: 6vw;
	}

	.compositions-link {
		font-size: 5.5vw;
		padding-right: 6vw;
	}

	.login-link {
		font-size: 5.5vw;
		padding-right: 4.5vw;
	}

	.demo-link {
		font-size: 5.5vw;
	}

	.logout-link {
		font-size: 5.5vw;
	}

	.range {
		font-size: 5.5vw;
		margin-bottom: -3.5vw;
	}
	.status {
		font-size: 5.5vw;
	}
}

@media only screen  and (min-width: 650px) {
	.description-title {
		font-size: 5vw;
		margin: 4.5vw;
		margin-top: -2vw;
		margin-bottom: -3vw;
	}

	.signup-link {
		font-size: 4.2vw;
		padding-right: 4.2vw;
	}

	.compositions-link {
		font-size: 4.2vw;
		padding-right: 4.2vw;
	}

	.login-link {
		font-size: 4.2vw;
		padding-right: 4.2vw;
	}

	.demo-link {
		font-size: 4.2vw;
	}

	.logout-link {
		font-size: 4.2vw;
	}

	.range {
		font-size: 4vw;
		margin-bottom: -3.5vw;
	}
	.status {
		font-size: 4vw;
	}
}

@media only screen  and (min-width: 768px) {
	.description-title {
		font-size: 5vw;
		margin: 4.5vw;
		margin-top: -2vw;
		margin-bottom: -3vw;
	}

	.signup-link {
		font-size: 4vw;
		padding-right: 4vw;
	}

	.compositions-link {
		font-size: 4vw;
		padding-right: 4vw;
	}

	.login-link {
		font-size: 4vw;
	}

	.demo-link {
		font-size: 4vw;
	}

	.logout-link {
		font-size: 4vw;
	}

	.range {
		font-size: 4vw;
		margin-bottom: -3.5vw;
	}
	.status {
		font-size: 4.5vw;
	}
}

@media only screen  and (min-width: 900px) {
	.description-title {
		font-size: 4vw;
		margin-bottom: -4.3vw;
		margin-top: -3vw;
	}

	.signup-link {
		font-size: 4vw;
		padding-right: 4vw;
	}

	.compositions-link {
		font-size: 4vw;
		padding-right: 4vw;
	}

	.login-link {
		font-size: 4vw;
		padding-right: 4vw;
	}

	.demo-link {
		font-size: 4vw;
	}

	.logout-link {
		font-size: 4vw;
	}

	.range {
		font-size: 4vw;
		margin-bottom: -4vw;
	}
	.status {
		font-size: 4vw;
		margin-top: -3.5vw;
		margin-bottom: -.6vw;
	}
	.sheetMusicMidi {
		line-height: 3vw;
		font-size: 2.3vw;
	}
}

@media only screen  and (min-width: 1050px) {
	.description-title {
		font-size: 3vw;	
		margin-top: -4vw;
	}

	.signup-link {
		font-size: 3vw;
	}

	.compositions-link {
		font-size: 3vw;
	}

	.login-link {
		font-size: 3vw;
		padding-right: 3.5vw;
	}
	.demo-link {
		font-size: 3vw;
	}

	.logout-link {
		font-size: 3vw;
	}

	.range {
		font-size: 3vw;
		margin-bottom: -4vw;
	}

	.status {
		font-size: 3vw;
		
	}
}

@media only screen  and (min-width: 1224px) {

	.description-title {
		font-size: 3.2vw;
		margin: 4.5vw;
		margin-top: -4vw;
	}

	.signup-link, .login-link, .logout-link, .compositions-link, .demo-link {
		font-size: 2.5vw;
		margin-bottom: 2vw;
	}

	.signup-link {
		padding-right: 2vw;
	}

	.login-link {
		padding-right: 2vw;
	}

	.compositions-link {
		padding-right: 2vw;
	}

	.status {
		font-size: 2.5vw;
		margin-bottom: -2.5vw;
		margin-top: -3vw;
	}
	.range {
		font-size: 2.5vw;
		margin-top: -3.8vw;
		margin-bottom: -3.5vw;
	}
}



