.instruction-list {
	display: flex;
	flex-direction: row;
	margin: 2vw;
}

.note-img-div {
	padding: .5vw;
	position: relative;
}

.note-img {
	width: 7vw;
	height: 7vw;
}

.note-img-whole {
	width: 3.8vw;
	height: 3.8vw;
	margin-top: 3.6vw;
	margin-left: 1.2vw;
	margin-bottom: -.7vw;
}

.note-img.sixteenth {
	width: 9vw;
	height: 9vw;
	position: relative;
	bottom: 2vw;
}

.note-img-text.sixteenth-text {
	position: relative;
	bottom: 2vw;
	left: .6vw;
}

.note-img-text {
	font-size: 6vw;
	font-family: 'Quicksand', sans-serif;
	padding-left: 1.3vw;
}

.note-img-text.whole-text {
	margin-right: 1vw;
}

.divider {
	font-size: 7vw;
}

.divider.one {
	padding-right: 1vw;
}

.divider.two {
	padding-left: 1vw;
}

.dotted-note-text {
	position: absolute;
	right: -12vw;
	top: 3vw;
	font-size: 4.5vw;
}

.dotted-note-div {
	margin-right: 13vw;
}

.augmentation-dot {
	font-family: 'Cabin', sans-serif;
	font-size: 12vw;
	position: absolute;
	top: -5vw;
	right: 6vw;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltip-text {
	visibility: hidden;
	position: absolute;
	width: 6vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 1vw;
    bottom: 125%;
    left: 50%;
    border-radius: 6px;
    margin-left: -25%;
    padding: 5px 0;
}

.x-img {
	margin-top: 2.5vw;
	width: 4.5vw;
	height: 4.5vw;
}

/*.tooltip:active .tooltip-text {
		visibility: visible;
		/*transition: 3s;*/
	/*}*/

@media only screen  and (min-width: 500px) {
	.note-img-whole {
		margin-top: 3.5vw;
	}
}

@media only screen  and (min-width: 1050px) {
	.augmentation-dot {
		font-size: 12vw;
		top: -4.68vw;
		right: 5.5vw;
	}
}

@media only screen  and (min-width: 1224px) {
	.note-img-div {
	padding: 2.5vw;
	position: relative;
	}

	.note-img {
		width: 4vw;
		height: 4vw;
	}

	.note-img-whole {
		width: 2.3vw;
		height: 2.3vw;
		margin-top: 1.3vw;
		padding-right: 2vw;
	}

	.note-img.sixteenth {
		width: 5vw;
		height: 5vw;
		position: relative;
		bottom: .9vw;
	}

	.note-img-text.sixteenth-text {
		bottom: 1vw;
		left: -1vw;
		margin-right: -6vw;
	}

	.half {
		margin-left: -1vw;
	}

	.note-img-text {
		font-size: 3vw;
		position: absolute;
		right: -.5vw;
	}

	.dotted-note-div {
		margin-right: 13vw;
	}

	.augmentation-dot {
		font-family: 'Cabin', sans-serif;
		font-size: 7vw;
		position: absolute;
		right: -3vw;
		padding-top: 1.2vw;
	}

	.divider {
		font-size: 3vw;
	}

	.divider.two {
		padding-left: 5.5vw;
	}

	.dotted-note-text {
		right: -15vw;
		top: .7vw;
	}

	.etc {
		right: 1.5vw;
		top: 1vw;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		cursor: pointer;
	}

	.tooltip .tooltip-text {
		visibility: hidden;
		position: absolute;
		width: 6vw;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    font-size: 1vw;
	    bottom: 125%;
	    left: 50%;
	    border-radius: 6px;
	    margin-left: -25%;
	    padding: 5px 0;
	}

	.tooltip:hover .tooltip-text {
		visibility: visible;
	}

	.x-img {
		margin-top: 1.5vw;
		width: 2.5vw;
		height: 2.5vw;
	}

	.delete-text {
		/*padding-top: vw;*/
	}

	.whole-text, .half-text, .quarter-text, .eighth-text, .sixteenth-text, .delete-text {
		font-size: 4vw;
		font-weight: 500;
	}
}






