.pitch {
	/* margin: 4.5vw; */
	font-size: 5rem;
	padding: 0 .7rem;
}

@media only screen and (min-width: 500px) {
	.pitch { 
		padding: 0 1rem;
	}
}

@media only screen  and (min-width: 768px) {
	.pitch { 
		padding: 0 1.5rem;
	}
}

@media only screen  and (min-width: 900px) {
	.pitch { 
		padding: 0 2rem;
	}
}

@media only screen  and (min-width: 1150px) {
	.pitch { 
		padding: 0 2.5rem;
	}
}

@media only screen  and (min-width: 1224px) {
	.pitch {
		font-size: 8vw;
		margin-top: -1.6vw;
		margin-bottom: -1.5vw;
	}
}




  