@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');

/*#root {
	display: flex;
	flex-flow: column wrap;
}
*/

* {
	font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
	font-size: 5vw;
	background: white;
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 2vw;
	border-radius: 2px;
	cursor: pointer;
}

.title {
	padding: 1.3rem;
}

.abcjs-inline-midi {
	width: 30rem;
	margin: 1.3rem;
}

.abcjs-download-midi {
	margin: 1.3rem;
}

