@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');

* {
	box-sizing: border-box;
	font-family: 'Cabin', sans-serif;
	text-shadow: 1px 1px rgba(255,228,181,0.35); 
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
	background: linear-gradient(to bottom rgba(255,255,255,.5), rgba(255,255,255,.65)), url('background.jpg') repeat-y;
	/*background-size: cover;*/
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main-title, .logged-in-div, .logged-out-div {
	/* margin: 0; */
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	/* border-bottom: 1px solid rgba(0, 0, 0, .3); */
	transition: .2s;
	padding-bottom: 5px;
}

a:hover {
	color: rgba(0, 0, 0, .6);
	transition: .2s;
}

input {
	background: rgb(0,0,0,.1);
	/*transition: .1s;*/
}

input:focus {
	background: rgb(244, 243, 242);
	/*transition: .1s;*/
}

button {
	background: rgb(244, 243, 242);
	font-size: 6.5vw;
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 2vw;
	border-radius: 2px;
	cursor: pointer;
	transition: .2s;
}

button:hover {
	transition: .2s;
	background: rgba(0, 0, 0, .1);
}

.home-buttons {
	width: min-content;
	padding: .4rem 1rem;
	font-size: 1.5rem;
	margin-right: 1rem;
	border-radius: 6px;
	background: rgba(255,255,255,.5);
}

.mic-div {
	width: 2rem;
	position: relative;
	right: .2rem;
}

.fa-microphone {
	font-size: 2rem;
	color: black;
	padding: .3rem .55rem;
}

.clef-icon {
	width: 2rem;
	height: 2rem;
}

.time-signature-icon {
	width: 2rem;
	height: 2rem;
}

.main-title {
	margin: 0;
	font-size: 1.7rem;
	padding: 0 .7rem;
	/* margin-right: -.5rem; */
}

.abcjs-inline-midi {
	width: 65vw;
	margin: 1.3vw;
}

.abcjs-download-midi {
	margin: 1.3vw;
}

@media only screen and (min-width: 500px) {
	header {
		justify-content: space-between;
	}
	.main-title {
		font-size: 2.5rem;
		padding: 0 1rem;
	}
	button {
		font-size: 5vw;
		padding: 1.5vw;
	}
	.home-buttons {
		width: min-content;
		padding: .4rem 1rem;
		font-size: 1.5rem;
		margin-right: 1rem;
		border-radius: 6px;
	}
	
	.mic-div {
		width: 2rem;
		position: relative;
		right: .2rem;
	}
	
	.fa-microphone {
		font-size: 2rem;
		padding: .3rem .55rem;
	}
	
	.clef-icon {
		width: 2rem;
		height: 2rem;
	}
	
	.time-signature-icon {
		width: 2rem;
		height: 2rem;
	}
}

@media only screen and (min-width: 650px) {
	.main-title {
		font-size: 3rem;
		padding: .4rem 1.2rem;
	}
	.abcjs-inline-midi {
		width: 50vw;
	}
	button {
		font-size: 3.7vw;
		padding: 1.4vw;
	}
	.home-buttons {
		width: min-content;
		padding: .4rem 1rem;
		font-size: 1.5rem;
		margin-right: 1rem;
		border-radius: 6px;
	}
	
	.mic-div {
		width: 2.5rem;
		position: relative;
		right: .3rem;
	}
	
	.fa-microphone {
		font-size: 3rem;
		padding: .3rem .6rem;
	}
	
	.clef-icon {
		width: 3rem;
		height: 3rem;
	}
	
	.time-signature-icon {
		width: 3rem;
		height: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	button {
		font-size: 3.2vw;
		padding: 1.2vw;
	}
	.abcjs-inline-midi {
		width: 35vw;
	}
	.main-title {
		padding: 0 1.5rem;
	}
}

@media only screen and (min-width: 900px) {
	.main-title {
		padding: 0 2rem;
	}
}

@media only screen and (min-width: 1050px) {
	.main-title {
		font-size: 3.3rem;
	}
	.abcjs-inline-midi {
		width: 30vw;
	}
	button {
		font-size: 2.5vw;
		padding: 1vw;
	}
}

@media only screen and (min-width: 1150px) {
	.main-title {
		padding: 0 2.5rem;
	}
}

@media only screen and (min-width: 1224px) {
	.main-title {
		font-size: 4.5vw;
		padding: 0 3rem;
	}
	button {
		font-size: 2vw;
		width: 15vw;
		padding: .8vw;
	}
	.home-buttons {
		width: 7rem;
		padding: .4rem 1rem;
		font-size: 1.5rem;
		margin-right: 1rem;
		border-radius: 6px;
	}

	.mic-div {
		width: 2.5rem;
		position: relative;
		right: -.05rem;
	}
	
	.fa-microphone {
		font-size: 4rem;
		padding: .6rem 1.1rem;
	}
	
	.clef-icon {
		width: 4rem;
		height: 4rem;
	}
	
	.time-signature-icon {
		width: 4rem;
		height: 4rem;
	}
	.abcjs-inline-midi {
		width: 25vw;
	}
}

.fwySEA::before {
	filter: blur(10px);
}

.fwySEA::after {
	filter: blur(10px);
}

