@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');

/* body {background: #eee;} */

#keyboard {
	margin: 15px auto 0;
	width: 794px;
	height: 315px;
	/* background:	#d5d9dc  url('keyboard-background.jpg') repeat-x; */
	-moz-border-radius-topleft: 7px 21px;
	-moz-border-radius-topright: 7px 21px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 7px 21px;
	border-top-right-radius: 7px 21px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 50px 0 0 10px;
	-webkit-box-shadow:  
		inset 0 0 8px #bbb,
		0 1px 0 #aaa,
		0 4px 0 #bbb,
		0 10px 30px #ddd;
	-moz-box-shadow:  
		inset 0 0 8px #bbb,
		0 1px 0 #aaa,
		0 4px 0 #bbb,
		0 10px 30px #ddd;
	box-shadow:  
		inset 0 0 8px #bbb,
		0 1px 0 #aaa,
		0 4px 0 #bbb,
		0 10px 30px #ddd;
}

#qwerty {
	list-style-type: none; 
	width: 100%; 
	margin: 0 auto;

}
#qwerty li {float: left;}


.key{
	display: block;
	color: #aaa;
	font: bold 9pt arial;
	text-decoration: none;
	text-align: center;
	width: 44px;
	height: 41px;
	margin: 5px;
	background: #eff0f2;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 1px solid #f5f5f5;
	-webkit-box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	-moz-box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	text-shadow: 0px 1px 0px #f5f5f5;}

.key:active, .keydown {
	color: #888;
	background: #ebeced;
	margin: 7px 5px 3px;
	-webkit-box-shadow:
		inset 0 0 25px #ddd,
		0 0 3px #333;
	-moz-box-shadow: 
		inset 0 0 25px #ddd,
		0 0 3px #333;
	box-shadow: 
		inset 0 0 25px #ddd,
		0 0 3px #333;
	border-top: 1px solid #eee;}
	
.fn span {
	display: block;
	margin: 14px 5px 0 0;
	text-align: right;
	font: bold 6pt arial;
	text-transform: uppercase;}
#esc {
	margin: 6px 15px 0 0;
	font-size: 7.5pt;
	text-transform: lowercase;}


#numbers li a span {
	display: block;}
	
#numbers li a b {
	margin: 3px 0 3px;
	display: block;}

#numbers li .alt b {display: block;margin: 0 0 3px;}

#qwerty li #delete span {
	text-align: right;
	margin: 23px 10px 0 0;
	font-size: 7.5pt;
	text-transform: lowercase;}
	
#qwerty li a span {
	display: block;
	margin: 13px 0 0;
	text-transform: uppercase;}
	
#qwerty li #tab span {
	text-align: left;
	margin: 23px 0 0 10px;
	font-size: 7.5pt;
	text-transform: lowercase;}	

#qwerty li .alt b {display: block; margin: 3px 0 0;}
#qwerty li .alt span {margin: 2px 0 0;}


#asdfg li a span {
	display: block;
	margin: 13px 0 0;
	text-transform: uppercase;}

#asdfg li .alt span {margin: 0; text-transform: lowercase;}
#asdfg li .alt b {display: block; margin: 3px 0 0;}
#asdfg li #caps b {
	display: block;
	background: #999;
	width: 4px;
	height: 4px;
	border-radius: 10px;
	margin: 9px 0 0 10px;
	-webkit-box-shadow: inset 0 1px 0 #666;
	-moz-box-shadow:inset 0 1px 0 #666;
	box-shadow:inset 0 1px 0 #666;}
#asdfg li #caps span {
	text-align: left;
	margin: 10px 0 0 10px;
	font-size: 7.5pt;}
#asdfg li #enter span {
	text-align: right;
	margin: 23px 10px 0 0;
	font-size: 7.5pt;}


#zxcvb li a span {
	display: block;
	margin: 13px 0 0;
	text-transform: uppercase;}
#zxcvb li .shiftleft span {
	text-align: left;
	margin: 23px 0 0 10px;
	font-size: 7.5pt;
	text-transform: lowercase;}
#zxcvb li .shiftright span {
	text-align: right;
	margin: 23px 10px 0 0;
	font-size: 7.5pt;
	text-transform: lowercase;}
#zxcvb li .alt b {display: block;margin: 4px 0 0;}
#zxcvb li .alt span {margin: 0;}

	
#bottomrow li #fn span, #bottomrow li #control span, #bottomrow li #optionleft span, #bottomrow li #commandleft span {
	display: block;
	text-align: left;
	margin: 31px 0 0 8px;
	font-size: 7.5pt;
	text-transform: lowercase;}

#bottomrow li #optionright span, #bottomrow li #commandright span {
	display: block;
	text-align: right;
	margin: 31px 8px 0 0;
	font-size: 7.5pt;
	text-transform: lowercase;}

#bottomrow ol li #left span, #bottomrow ol li #right span, #bottomrow ol li #up span, #bottomrow ol li #down span {
	display: block;
	margin: 9px 0 0;}

.fn {height: 26px; width: 46px;}
#delete {width: 72px;}
#tab {width: 72px;}
#caps {width: 85px;}
#enter {width: 85px;}
.shiftleft, .shiftright {width: 112px;}
#fn, #control, .option, .command, #spacebar {height: 49px;}

#control {width: 56px;}
.option {width: 46px;}
.command {width: 67px;}
#spacebar {width: 226px;}

#left img, #up img, #down img, #right img {border: none;}
ul ol {list-style-type: none;}
#down {height: 23px;}
#up, #left, #right {height: 24px;}
#left, #right {margin: 30px 5px 5px;}
#left:active, #right:active {margin: 32px 5px 3px;}
#up {margin: 5px 5px 1px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
#up:active {margin: 8px 5px -2px;}
#down {margin: 0 5px 5px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
#down:Active {margin: 3px 5px 4px;}
		
h1 {
	color: #888;
	/* text-align: center; */
	/* font: bold 25pt/25pt arial; */
	margin: 30px 0 60px;}
	
h2 {
	/* color: #666; */
	/* font: 13pt/0pt arial; */
}
	
p {
	color: #999;
	font: 9pt/17pt arial;
	margin: 0 0 50px;}
	
small {
	font: italic 8pt/12pt arial;
	color: #aaa;
	padding: 0 130px 0 0;
	display: block;}
	
cite {
	display: block;
	padding: 0 0 30px;
	margin: 0 auto;
	text-align: center;
	color: #999;
	font: italic bold 8pt arial;}

/* ul, ol {padding: 0px; margin: 0;} */
	
/* Micro Clearfix by Nicolas Gallagher - http://nicolasgallagher.com/micro-clearfix-hack */
        /* For modern browsers */
        .cf:before, .cf:after {content:""; display:table;}
		.cf:after {clear:both;}
		
.qwerty-div {
	margin-left: -1.8rem;
}

* {
	box-sizing: border-box;
	font-family: 'Cabin', sans-serif;
	text-shadow: 1px 1px rgba(255,228,181,0.35); 
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
	background: linear-gradient(to bottom,rgba(255,255,255,.5), rgba(255,255,255,.65)), url('background.jpg');
}      

header {
	position: absolute;
	top: .5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: .2s;
	padding-bottom: 5px;
}

a:hover {
	color: rgba(0, 0, 0, .6);
	transition: .2s;
}

input {
	background: rgb(0,0,0,.1);
}

input:focus {
	background: rgb(244, 243, 242);
}

button {
	background: rgb(244, 243, 242);
	font-size: 6.5vw;
	border: 1px solid rgba(0, 0, 0, .3);
	/* padding: 2vw; */
	border-radius: 2px;
	cursor: pointer;
	transition: .2s;
}

button:hover {
	transition: .2s;
	background: rgba(0, 0, 0, .1);
}

.home-buttons {
	/* padding: .4rem 1rem; */
	/* font-size: 1.5rem; */
	position: relative;
	width: 2rem;
	height: 2rem;
	border-radius: 6px;
	background: rgba(255,255,255,.5);
}

.fa-microphone {
	font-size: 1rem;
	color: black;
	display: block;
	margin: 0 auto;
}

.clef-icon {
	width: 1rem;
	height: 1rem;
	display: block;
	margin: 0 auto;
}

.time-signature-icon {
	width: 1rem;
	height: 1rem;
	display: block;
	margin: 0 auto;
}

.main-title {
	margin: 0;
	font-size: 1.7rem;
	padding: 0 .7rem;
	margin-top: .1rem;
}

.abcjs-inline-midi {
	width: 65vw;
	margin: 1.3vw;
}

.abcjs-download-midi {
	margin: 1.3vw;
	font-size: 1rem;
	margin-top: -.3rem;
}

@media only screen and (min-width: 400px) {
	.abcjs-download-midi {
		margin-top: -.5rem;
	}
}

@media only screen and (min-width: 500px) {
	header {
		justify-content: space-between;
		top: 1rem;
	}
	.logged-in-div, .logged-out-div {
		margin-top: .6rem;
	}
	.main-title {
		font-size: 2.5rem;
		padding: 0 1rem;
		margin-top: -.4rem;
	}
	button {
		font-size: 5vw;
		/* padding: 1.5vw; */
	}
	.home-buttons {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 6px;
	}
	
	.fa-microphone {
		font-size: 1.5rem;
	}
	
	.clef-icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	
	.time-signature-icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	.abcjs-download-midi {
		margin-top: -.9rem;
	}
}

@media only screen and (min-width: 650px) {
	.main-title {
		font-size: 3rem;
		padding: .4rem 1.2rem;
	}
	.logged-in-div, .logged-out-div {
		margin-top: 1.05rem;
	}
	.abcjs-inline-midi {
		width: 50vw;
	}
	.abcjs-download-midi {
		font-size: 1.2rem;
		margin-top: -1rem;
	}
	button {
		font-size: 3.7vw;
		/* padding: 1.4vw; */
	}
	.home-buttons {
		width: 4rem;
		height: 4rem;
		padding: .4rem 1rem;
		font-size: 1.5rem;
		/* margin-right: 1rem; */
		border-radius: 6px;
	}
		
	.fa-microphone {
		font-size: 2rem;
	}
	
	.clef-icon {
		width: 2rem;
		height: 2rem;
	}
	
	.time-signature-icon {
		width: 2rem;
		height: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	header {
		top: 2rem;
	}
	.logged-in-div, .logged-out-div {
		margin-top: .8rem;
	}
	button {
		font-size: 3.2vw;
		/* padding: 1.2vw; */
	}
	.abcjs-inline-midi {
		width: 35vw;
	}
	.abcjs-download-midi {
		font-size: 1.3rem;
		margin-top: -.5rem;
	}
	.main-title {
		padding: 0 1.5rem;
	}
}

@media only screen and (min-width: 900px) {
	.main-title {
		padding: 0 2rem;
	}
	.abcjs-download-midi {
		margin-top: -.2rem;
	}
}

@media only screen and (min-width: 1050px) {
	.main-title {
		font-size: 3.3rem;
	}
	.main-title {
		margin-top: -.8rem;
	}
	.abcjs-inline-midi {
		width: 30vw;
	}
	button {
		font-size: 2.5vw;
		/* padding: 1vw; */
	}
}

@media only screen and (min-width: 1150px) {
	.main-title {
		padding: 0 2.5rem;
		margin-top: -1rem;
	}
}

@media only screen and (min-width: 1224px) {
	.main-title {
		font-size: 4.5vw;
		padding: 0 3rem;
		margin-top: -1.5rem;
	}
	button {
		font-size: 2vw;
		width: 15vw;
		/* padding: .8vw; */
	}
	.home-buttons {
		width: 5rem;
		height: 5rem;
		padding: .4rem 1rem;
		font-size: 1.5rem;
		/* margin-right: 1rem; */
		border-radius: 6px;
	}
	
	.fa-microphone {
		font-size: 2.5rem;
		/* padding: .6rem 1.1rem; */
	}
	
	.clef-icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	.time-signature-icon {
		width: 2.5rem;
		height: 2.5rem;
	}
	.abcjs-inline-midi {
		width: 25vw;
	}
}

.fwySEA::before {
	filter: blur(10px);
}

.fwySEA::after {
	filter: blur(10px);
}

